<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.base.availableupdate" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="26" />

    <!-- HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 应用市场9.0版本必须使用该权限获取用户的服务地 -->
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA" />

    <application>

        <!-- 用于判断是否集成了本lib -->
        <meta-data
            android:name="availableLoaded"
            android:value="yes" />

        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="com.huawei.demo.identitydemo.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
        </provider>
    </application>

</manifest>