<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.base.ui" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="26" />

    <application>
        <activity
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:configChanges="orientation|locale|layoutDirection|fontScale|screenSize|smallestScreenSize|screenLayout"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" >
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>
        <activity
            android:name="com.huawei.hms.activity.EnableServiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout" >
        </activity>
    </application>

</manifest>